.todoList{
    box-sizing: border-box;
    box-shadow: 0px 0px 0.5px 1px black;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.todoTitle{
    font-weight: 600;
    margin:0;
    cursor: pointer;
    padding: 5px 10px 10px 10px;
}

.normal{
    background-color:green;
    color: white;
}

.medium{
    background-color:yellow;
}

.high{
    background-color:red;
    color: white;
}

.todoContent{
    display: none;
}

.todoContentactive{
    display: block;
    width:90%;
    margin:0 5% 0 5%;
    padding: 10px 0px 10px 0px;
}

.todoActionButton{
    width:42.5%;
    display: inline-block;
    color: white;
    height: 25px;
    cursor: pointer;
    font-size: 15px;
}

#todoEditButton{
    background-color: orange;
    margin:10px 2.5% 20px 5%;
}

#todoDeleteButton{
    background-color: red;
    margin:10px 5% 20px 2.5%;
}
